body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
tr,
td {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Noto Sans", serif;
}

:root {
    --primary-color: #F29F58;

}

/* .noto-sans-properties-to-use {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */

.txtcenter {
    text-align: center;
}




/* Navbar starts here */
.roop_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
}

.roop_navbar a {
    padding: 12px 18px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: 400ms;
}

.roop_navbar a:hover {
    color: #FFFFFF;
}

.active {
    color: #FFFFFF !important;
}


/* Navbar ends here */


/* Home page starts here */
.demo-text{
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* Home page ends here */




/* Map Page starts here */
#map {
    height: calc(100vh - 50px);
}


.map-section {
    display: inline-block;
    vertical-align: top;
    width: 73%;
}

.text-section {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}

.text-section h2 {
    margin: 25px 0px;
}

.text-section table {
    width: 100%;
}

.text-section input {
    width: 60%;
    border: 1px solid #a6a6a6;
    padding: 7px 7px;
    border-radius: 0px;
}


/* Map Page ends here */


/* convertor code starts here */
#error{
    color: red;
    margin: 10px 0px;
}
.text-convertor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.text-convertor form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-convertor .inputbox{
    border: 1px solid black;
    border-radius: 0px;
    font-size: 17px;
    padding: 9px 17px;
    width: 50vw;
    margin-bottom: 10px;
}
.text-convertor .threebtns{
    font-size: 16px;
    padding: 9px 22px;
}

/* convertor code ends here */

/* leaflet changes */
.leaflet-control-geosearch .results{
    color: #000000 !important;
}



